.example-form {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 10px; /* Chrome, Safari, Opera */
    -moz-column-gap: 10px; /* Firefox */
    column-gap: 10px;
  }
  
  .example-full-width {
    width: 100%;
  }