
          <form class="example-form" #myForm="ngForm"  (submit) ="onSubmit()">
              <mat-form-field class="example-full-width">
                <input id="bookTitle" matInput required minlength="3" placeholder="Book Title" #name="ngModel" [(ngModel)]= "book.title" name ="bookTitle" />
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput required minlength="3" placeholder="Book author" #name="ngModel" [(ngModel)]= "book.author" name ="bookAuthor" />
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput required minlength="3" placeholder="Publisher" #name="ngModel" [(ngModel)]= "book.publisher" name ="publisher" />
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput required minlength="3" type="date" placeholder="Enter published date" #name="ngModel" [(ngModel)]= "book.publicationDate" name ="publicationDate" />
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput required minlength="3" placeholder="Enter Language" #name="ngModel" [(ngModel)]= "book.language" name ="languange" />
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <!-- <mat-select [(value)]="Categoryselected" [(ngModel)]="book.category" name="BookCategory" required placeholder="Select Category"> -->
                    <mat-select [(ngModel)]="book.category" name="BookCategory" required placeholder="Select Category">
                  <mat-option value="Management">Management</mat-option>
                  <mat-option value="Technical">Technical</mat-option>
                  <mat-option value="Computer Science">Computer Science</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                  <input matInput type="number" min="1"  required placeholder="Enter number of pages" #name="ngModel" [(ngModel)]= "book.numberOfPages" name ="numberOfPages" />
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <!-- <mat-select [(value)]="Formatselected" [(ngModel)]="book.format" name="bookFormat" placeholder="Select format"> -->
                        <mat-select [(ngModel)]="book.format" name="bookFormat" placeholder="Select format">
                      <mat-option value="Paperback">Paperback</mat-option>
                      <mat-option value="Hardcover">Hardcover</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                      <input matInput required minlength="3" placeholder="Enter ISBN" #name="ngModel" [(ngModel)]="book.isbn" name ="isbn" />
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                      <input matInput required  placeholder="Enter shipping weight" #name="ngModel" [(ngModel)]= "book.shippingWeight" name ="shippingWeight" />
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                      <input matInput type="number" required  placeholder="Enter List Price" #name="ngModel" [(ngModel)]= "book.listPrice" name ="listPrice" />
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                      <input matInput type="number" required  placeholder="Enter Our Price" #name="ngModel" [(ngModel)]= "book.ourPrice" name ="ourPrice" />
                  </mat-form-field>
                  
                      <mat-checkbox required name="isActive" [(ngModel)]= "book.active">is active?</mat-checkbox>

                      <mat-form-field class="example-full-width">
                          <textarea matInput placeholder="Please Enter book descriptions" [(ngModel)]="book.description" name="descriptions"></textarea>
                      </mat-form-field>  
                      <mat-form-field class="example-full-width">
                          <input matInput type="number" required  placeholder="Enter in stock number" #name="ngModel" [(ngModel)]= "book.inStockNumber" name ="inStockNumber" />
                      </mat-form-field>
                      <button type="button" mat-raised-button color="primary" (click)="imgFileInput.click()">Add a photo</button>
                      <input hidden type="file" #imgFileInput (change)="uploadImageService.fileChangeEvent($event)"/><br>
                     
              <button type="submit" [disabled]="!myForm.form.valid" mat-raised-button color="primary">Submit</button>
          </form>
