<h3 class="addTaskLabel">Add book</h3>

<form class="addTasksForm" action="#" method="POST">
  <input placeholder="Enter book name" class="addTaskInput" type="text" name="bookName" [(ngModel)]="book.name" />
  <input placeholder="Enter book price" class="addTaskInput" type="text" name="bookprice" [(ngModel)]="book.price" />
  <input placeholder="Enter holder name" class="addTaskInput" type="text" name="holderName" [(ngModel)]="book.holderName" />

	<button (click)="add()" class ="addTaskSubmitButton">Submit</button>
</form> 