<mat-toolbar color="primary">
  <span>Books-admin</span>
  <span>
      <button mat-button [matMenuTriggerFor]="menu">Book</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/add-book">Add Book</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
 
  </span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span>
      <button mat-button >Login</button>
  </span>
</mat-toolbar>
